// Шрифты
$font-family: "Ubuntu", sans-serif;


// weight
$font-weight-bold: 700;
$font-weight-regular: 400;

// size
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-46: 46px;


// line-height
$font-line-height-130-int: 130%;
$font-line-height-150-int: 150%;
$font-line-height-160-int: 160%;
$font-line-height-314-int: 314%;
$font-line-height-325-int: 325%;

$font-line-height-50-px: 50px;
$font-line-height-52-px: 52px;



@mixin bold {
    font-family: $font-family;
    font-weight: $font-weight-bold;
}
@mixin regular {
    font-family: $font-family;
    font-weight: $font-weight-regular;
}

// Цвета
$white: #fff;
$green: #1F4746;
$green-white: #6CB7B0;
$fill-dark: #1E212C;
$grey: #F0F0F0;
$grey-white: #F4F5F6;

// текст
$text-white: #FFFFFF;
$text-dark: #1E212C;
$text-dark-white: #424551;
$text-grey: #787a80;



// анимации
@mixin  animation-button {
    transition: background-color 200ms ease-in;
    transition: opacity 20ms linear;
}

@mixin animation-button-back-50 {
    transition: background-color 50ms linear;
    transition: opacity 50ms ease-in;
}

@mixin animation-height-200 {
    transition: height 200ms ease-in;
}
@mixin animation-height-400 {
    transition: height 400ms ease-in;
}


// тень
@mixin shadow-card {
    box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 80px 80px -20px rgba(154, 156, 165, 0.08);
}